---
permalink: /404.html
---

<html>
  <head>
    <script type="text/javascript">

      /* ----------- common.js ----------*/
      {% include common.js %}
      /* ----------- github.js ----------*/
      {% include github.js %}
      /* ----------- gitlab.js ----------*/
      {% include gitlab.js %}
      /* ----------- 404.html ----------*/
      downloadFrom(document.referrer);
      
    </script>
  </head>
  <body>
      Trzing download...<br/>
      If this does not work, zou may want to tell the people of the site which you came from.<br/>
      If you do not like this page, <a href="https://github.com/niccokunzmann/download_latest/blob/master/404.html#L74">change it</a>.
  </body>
</html>
